<div class="copyright-wthree">
    <div class="container">
        <ul class="b-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="about.html" >About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="col-md-3 footer-grids w3l-agileits">
            <h7><a href="index.html"><span class="f-letter">D</span>etergen<span class="f-square"></span></a></h7>
        </div>
        <p>&copy; 2017 Deterge . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a></p>
    </div>
</div>