<div class="w3-header-bottom">
    <div class="container"> 
            <h1><a href="/"><span class="letter">D</span>etergen<span class="square"></span></a></h1>	
        <div class="header-w3-top">
            <div class="agileinfo-phone">
            <div class="phone-wthree-left">
                <p>Want a Launder...? <span>but...</span></p>
             <h2> Mager....</h2>
            </div>
        </div>
        <h2 style="color: white;">Just Sign Up</h2>
            <div class="bottons-agileits-w3layouts">
                <a class="btn1-w3-agileits" href="#myModal2" data-toggle="modal"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>.
                <a class="btn2-w3-agileits" href="#myModal3" data-toggle="modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register</a>
                <a class="btn2-w3-agileits" href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </div>
        </div>
        <div class="clearfix"> </div>
        <!-- Menu -->
        <div class="top-nav">
            <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/list">List</a></li>
                    </ul>	
                    <div class="clearfix"> </div>
                </div>	
            </nav>		
        </div>
    </div>
</div>