<%- include('./partials/header') %>
<body class="colorbody">
    <%- include('./partials/navbar', { page: "index" }) %>
	<div class="home">
        Dip <span style="font-size: 8vw;">N</span>' Dry
    </div>
</body>
    <%- include('./partials/scriptlogin') %>
</html>